.events {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 8fr;
    text-align: center;

    .eventsHeader {
        grid-row: 1;
    }

    ol {
        grid-row: 2;

        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}