li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    .date {
        grid-column: 1;
    }

    .title {
        grid-column: 2;
    }

    .export {
        grid-column: 3;
    }
}